body {
  color: antiquewhite;
  font-family: sans-serif;
  height: 100vh;
  background: linear-gradient(#585858, #000863);
  text-align: center;
  display: block;
}
input {
  text-align: center;
  width: 10%;
  font-size: x-large;
}
button {
  border-radius: 25px;
  width: 400px;
  height: 65px;
  margin: 30px;
  font-size: 30px;
}
span {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  margin-bottom: 8px;
}

hr {
  width: 20%;
  border-radius: 10px;
}

.userInput {
  text-decoration: underline;
}

#mvDiv,
#lfDiv {
  float: left;
  text-align: left;
  margin-top: 1em;
  display: flex;
  width: 30%;
  align-items: center;
}
